<img src="https://nyp-aicourse.s3.ap-southeast-1.amazonaws.com/agods/nyp_ago_logo.png" width='300'/>

Welcome to the lab! Before we get started here are a few pointers on using this notebooks.

1. The notebook is composed of cells; cells can contain code which you can run, or they can hold text and/or images which are there for you to read.

2. You can execute code cells by clicking the ```Run``` icon in the menu, or via the following keyboard shortcuts ```Shift-Enter``` (run and advance) or ```Ctrl-Enter``` (run and stay in the current cell).

3. To interrupt cell execution, click the ```Stop``` button on the toolbar or navigate to the ```Kernel``` menu, and select ```Interrupt ```.

# Final Exercise

In this final exercise, we will apply our data visualization skills on worldwide COVID-19 dataset.

In [ ]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.dates as md

In [ ]:
# set panda option to display rows up to 200
pd.options.display.max_rows = 200

In [ ]:
data_file = 'datasets/owid-covid-data-filtered.csv'
df = pd.read_csv(data_file)

### Part 1

Display all the column information and answer the following questions: 
1. How many columns are there? 
2. How many entries (rows) are there? 
3. Do we have any null values?
3. What is the datatype of 'date' column? 

Change the date column into appropriate datatype (*Hint*:  use `pd.to_datatime()`)

In [ ]:
## TODO: 

# display the info 


# change the datatype of date column

### Part 2

Let us find the top 10 countries with the most number of cases of Covid-19. 

To do this, you can follow the following stesp: 
1. group the data by 'location' and sum the 'new_cases'. 
2. Sort the resultant series with descending order 
3. Use slicing to take the first 10 rows

In [ ]:
## TODO: 

# Step 1: Use groupby() and then sum()
total_cases_grouped = ??

# Step 2: Use sort_values() to sort the total cases in descending order 
total_cases_grouped = ??

# Step 3: Take the first 10 rows. To get the country names as list, take the index of the series.

top10_countries = ??
print(top10_countries)

We will now find the total number of cases and total number of deaths of the top 20 countries and create a new dataframe with these information.

In [ ]:
total_cases = total_cases_grouped[0:20].values # Number of Cases in Top 10 Countries 

total_deaths_grouped = df.groupby('location')['new_deaths'].sum()
total_deaths = total_deaths_grouped[top10_countries].values # Number of Deaths in Top 10 Countries

total_cases_deaths_df = pd.DataFrame({'Country': top10_countries, 'Total Cases': total_cases, 'Total Deaths': total_deaths})
print(total_cases_deaths_df)

The above data is better visualized through a bar plot, where each country has one bar for the total number of cases and a second bar for the total number of deaths.

To do this we will convert the data into the following format: 

<img src='images/covid_long_form.png' />

We will use a new variable 'Metric' to indicate the type of counts ("Total Cases" or "Total Deaths") and a value variable "Case Count'.  

### Part 3

Convert the dataframe into another form using the `melt()` function where each country has two rows – one for total cases and the second for total deaths. Plot the converted dataframe using the barplot function of the seaborn library.

In [ ]:
## TODO: 

# Step 1: convert to long form, with id variable = 'Country', value variables = 'Total Cases', 'Total Deaths', variable name = 'Metric', and value name as 'Case Count'



# Step 2: plt the sns barplot, with title "Most Affected Countries (Top 10)".

### Part 4 

Let's visualize the top 10 countries with the most testing rate.  Testing rate is defined here as total tests divided by the total population of the country

In [ ]:
## TODO: 

# Step 1: Find the total tests grouped by country 


# Step 2: Find the total population grouped by country. We will just take the last value of the group


# Step 3: Compute the testing fate and sort them according to descending order. Take the top 10


# Step 4: Use seaborn horizontal bar chart to compare the top 20 countries, Set the appropriate title and x, y labels

### Part 5

Let us now compare the rate of increase of coronavirus cases between the two countries: United States and India. This will be a date series visualization with the dates in increasing order of time on the X-axis, and the number of cases on the Y-axis. 

As not all the dates are available for each country, we only want to display those dates where both country has data on 'total_cases'.  We can do this by first extract the date and total cases columns of each country into two separate dataframes. These two dataframes are then merged into a single dataframe using an ‘inner join’ operation on the date column. An inner join ensures that only those date values are included which are present in both dataframes being merged.

In [ ]:
## TODO:

# Step 1: Extract the date and total cases of India and US into a separate data frame 


# Step 2: Merge the two dataframes using inner join on date



# Step 3: Plot the merged dataframe

### Part 6

We would like to know if there is some correlation between between death rate and the diabetes prevalence of countries in Asia continent.
We will compute the death rate as $\frac{total deathts}{population}*100$

You will create a dataframe that consists of the following columns: 'Death Rate', 'Diabetes Prevalence'

In [ ]:
## TODO: 

# Step 1: create a subset of asia countries 



# Step 2: get the total deaths, total population, diabetes prevalence of each countries



# Step 3: Compute the  death rate 




# Step 4: Create a dataframe that has two columns: 'Death Rate', 'Diabetes Prevalence'




# Step 5: Plot the relational plot between "Death Rate' vs 'Diabetes Prevalence'

### Part 7

Plot the daily new covid cases of Singapore, between the period 1st Jan 2020 and 31st Dec 2020.  
Identify the peak, that signifies the outbreak.  What do you think is the event that caused the outbreak ? Annotate the peak with the event description.

In [ ]:
# Step1: Create a subset for Singapore new deaths from 2020-01-01 to 2020-12-31



# Step 2: Create a plot and set the date format to %Y-%m and major locator at monthly interval




# Step 3: Plot the line chart, annotate the peak with the event name

Congratulations! You have come to the end of the module!